html, body, div, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: sans-serif;
}

#game {
  width: 600px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.tile-unexplored {
  width: 20px;
  height: 20px;
  background: grey;
  border: 1px solid black;
  border-style: outset;
}

.tile-bombed {
  width: 20px;
  height: 20px;
  background: red;
  border: 1px solid black;
  border-style: outset;
}

.tile-flagged {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid black;
  border-style: outset;
}

.tile-explored {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-style: inset;
}
